
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #f7f7f7;
}

.nav-item {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    background-color: #f7f7f7;
}

.nav-left, .nav-center, .nav-right {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

.cart-button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}